/*GENERAL Y RESET*/

:root {
  --grisAnaKtana: #494b49;
  --clamp1: clamp(1rem, 2.5vw, 1.8rem);
  --clamp2: clamp(1rem);
  --clamp3: clamp(1.8rem, 3vw, 3rem);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;

  background-color: black;
  color: white;

  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit; /* hereda el color del body */
}

a:hover {
  color: var(--grisAnaKtana);
  animation: pumpum 1s ease-in-out infinite;
}

@keyframes pumpum {
  0%,
  100% {
    color: white;
  }
  50% {
    color: var(--grisAnaKtana);
  }
}

/*LOGO BACKGROUND*/

#logo-texture {
  position: fixed;
  top: 100px;
  left: -1000px;

  min-width: 1813px;
  min-height: 1418px;

  scale: 1;
  opacity: 0.4; /* como textura sutil */

  background-image: url("../root/hifasLogo.png");
  background-size: contain;
  background-repeat: no-repeat;

  pointer-events: none;
  z-index: -1;
}

#logo-texture--about {
  position: fixed;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%) scale(1.3);

  min-width: 1813px;
  min-height: 1418px;

  opacity: 0.4;

  background-image: url("../root/hifasLogo.png");
  background-size: contain;
  background-repeat: no-repeat;

  pointer-events: none;
  z-index: -1;
}

/*BOTONES FIJOS*/

.fixed-buttons-top,
.fixed-links-bottom {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: end;

  gap: 0.5rem;
  z-index: 1;
}

.fixed-buttons-top {
  top: 3vh;
  right: 3vh;
}

.fixed-links-bottom {
  bottom: 3vh;
  right: 3vh;
}

.fixed-buttons-left {
  position: fixed;
  top: 3vh;
  left: 3vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

.fixed-links-bottom.left {
  left: 3vh;
  right: auto;
}

/*HOME: GALERIA*/

#galeria-productos {
  column-count: 2;
  column-gap: 2rem;
  position: fixed;

  top: 10vh;
  bottom: 10vh;
  left: 5vh;
  right: 5vh;

  overflow-y: auto;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  #galeria-productos {
    column-count: 3;
  }
}

@media (min-width: 1600px) {
  #galeria-productos {
    column-count: 4;
  }
}

#galeria-productos > * {
  break-inside: avoid;
  margin-bottom: 2rem;
}

/*HOME: CADA PRODUCTO*/

.producto {
  position: relative;
  cursor: pointer;
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.img-wrapper {
  position: relative;
}

.home_titulo_precio {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--clamp1);

  gap: 0.5rem;
}

.home_titulo_precio .precio {
  margin-left: auto;
}

.precios {
  width: 100%;
}

.precios {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: baseline;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
}

.precio--rebajado,
.precio {
  font-weight: bold;
}

.descripcion_corta {
  display: none;
  font-size: var(--clamp2);
}

.producto:hover .descripcion_corta {
  display: block;
}

/*HOME: PRODUCTO SOLDOUT*/

.soldout-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  pointer-events: none; /* no bloquea el hover del producto */
  z-index: 5;
}

.producto:hover .soldout-overlay {
  opacity: 0;
}

.soldout-label-central {
  font-size: 0.8rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--grisAnaKtana);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.soldout-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;

  font-size: 4rem;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  white-space: nowrap; /* 游녣 fuerza que no se divida */
  pointer-events: none;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 480px) {
  .soldout-label {
    font-size: 3rem;
    padding: 0.3rem 0.6rem;
  }
}

/*HOME: PRODUCTO OFERTA*/

.home_titulo_precio .precio--tachado {
  text-decoration: line-through;
}

.precio--tachado {
  position: relative;
  display: inline-block;
  opacity: 0.5;
  animation: brilloTachado 1s ease-in-out infinite;
}

@keyframes brilloTachado {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}

.corner-label {
  position: absolute;
  font-size: 0.7rem;
  background: none;
  color: black;
  padding: 2rem 1.5rem;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
  animation: parpadeo 1.5s ease-in-out infinite;
  opacity: 0.9;
  z-index: 2;
  pointer-events: none;
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}

/*HOME BARRAS SUP E INF*/

#carrito-count {
  font-size: 0.6rem;
}

/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/

/*PRODUCTO DETALLE*/

#detalle-producto {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0vh;
  bottom: 10vh;
  left: 5vh;
  right: 5vh;

  scroll-behavior: smooth;
  overflow-anchor: none;

  font-family: "IBM Plex Sans", sans-serif;
}

@media (min-width: 480px) {
  #detalle-producto {
    top: 10vh;
    align-items: center;
    justify-content: center;
  }
}

.producto-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1400px;
  
  overflow-x: hidden;
}

@media (min-width: 480px) {
  .producto-layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .producto-layout {
    align-items: flex-start;
    gap: 5rem;
  }
}

.producto-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right top; /* aqu칤 fuerzas que, dentro de su caja, la imagen quede pegada arriba-derecha */
}

body[data-page-type="product"] .home_titulo_precio {
  font-size: var(--clamp3);
}

.producto-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.talla-wrapper {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}

@media (max-width: 480px) {
  .talla-wrapper {
    width: 99%;
  }
}

/*dropdown tallas*/
.dropdown {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* Esto asegura que el contenedor respete su ancho */
  overflow: visible;
}

.dropdown-menu {
  display: none; /* Oculta el men칰 por defecto */
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: black;
}

.dropdown.open .dropdown-menu {
  display: block; /* Solo se ve si el contenedor tiene la clase .open */
}

.dropdown-toggle {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
  transition: border-color 0.3s;
}

.dropdown-toggle:hover {
  border-color: var(--grisAnaKtana);
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-option {
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: var(--grisAnaKtana);
  color: black;
}

/*a침adir carrito*/

.btn-a침adir-carrito:hover {
  color: var(--grisAnaKtana);
}

.btn-a침adir-carrito {
  all: unset;
  font-family: "Noto Serif JP", serif;
  font-size: var(--clamp3);
  font-weight: 400;
  text-transform: uppercase;
  align-self: flex-end;
  padding-top: 2.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.btn-a침adir-carrito:hover {
  color: var(--grisAnaKtana);
}

/*ABOUT*/

#about-container {
  position: fixed;

  top: 10vh;
  bottom: 10vh;
  left: 5vh;
  right: 5vh;

  margin: auto;

  overflow-y: auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: clamp(1rem, 1.2vw, 2rem);

  max-width: 380px;
}

body[data-page-type="about"] {
  overflow: hidden; /* bloquea el scroll del body */
}

.aboutLogo {
  max-width: 90%;
}

.aboutLogo {
  max-width: 100%;
  height: auto;
  display: block;
}

body[data-page-type="about"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*carrito*/

/* === POPUP DEL CARRITO === */
.popup-carrito {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.carrito-modal {
  background: black;
  color: white;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  border: 1px solid white;
}

.carrito-cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.carrito-producto {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.carrito-img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border: 1px solid white;
}

.carrito-info {
  flex: 1;
}

.carrito-nombre {
  font-weight: bold;
}

.carrito-detalles {
  font-size: 0.9rem;
  color: #ccc;
}

.carrito-precio {
  font-size: 1rem;
}

.carrito-envio {
  margin: 1rem 0;
}

.carrito-envio label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.carrito-envio select {
  width: 100%;
  padding: 0.4rem;
  background: black;
  color: white;
  border: 1px solid white;
  font-family: "IBM Plex Sans", sans-serif;
}

.carrito-envio p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: white;
}

.carrito-total {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
}

.carrito-pagar {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  font-family: "Noto Serif JP", serif;
  font-size: 1rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  transition: all 0.3s ease;
}

.carrito-pagar:hover {
  background: white;
  color: black;
}
