:root {
  --grisAnaKtana: #494b49;
}

body {
  font-family: Helvetica, Arial, sans-serif;

  height: 100%;

  background-color: black;
  color: white;

  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit; /* hereda el color del body */
}

a:hover {
  color: var(--grisAnaKtana);
  animation: pumpum 1s ease-in-out infinite;
}

@keyframes pumpum {
  0%,
  100% {
    color: white;
  }
  50% {
    color: var(--grisAnaKtana);
  }
}

#productos-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* por defecto, 2 columnas */
  grid-auto-flow: row; /* default, explícito */
  gap: 2rem;

  position: fixed;

  /* padding: 10vh 5vh; */
  top: 10vh; /* margen superior visible */
  bottom: 10vh; /* margen inferior visible */
  left: 5vh; /* margen lateral izquierdo */
  right: 5vh; /* margen lateral derecho */

  overflow-y: auto;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  #productos-container {
    grid-template-columns: repeat(2, 1fr); /* en escritorio, 4 columnas */
  }
}
@media (min-width: 1024px) {
  #productos-container {
    grid-template-columns: repeat(4, 1fr); /* en escritorio, 4 columnas */
  }
}

.producto {
  position: relative;
  cursor: pointer;
}

.home_titulo_precio {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;

  gap: 0.5rem;
}

.home_titulo_precio .precio {
  margin-left: auto;
}

.home_titulo_precio .precio--tachado {
  text-decoration: line-through;
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#productos-container::-webkit-scrollbar {
  width: 1vh;
}
#productos-container::-webkit-scrollbar-thumb {
  background: var(--grisAnaKtana);
}

#logo-texture {
  position: fixed;
  top: 100px;
  left: -1000px;

  min-width: 1813px;
  min-height: 1418px;

  scale: 1;
  opacity: 0.4; /* como textura sutil */

  background-image: url("../root/hifasLogo.png");
  background-size: contain;
  background-repeat: no-repeat;

  pointer-events: none;
  z-index: -1;
}

.descripcion_corta {
  display: none;
}

.producto:hover .descripcion_corta {
  display: block;
}

.img--soldout {
  filter: grayscale(100%);
}

.precio--tachado {
  position: relative;
  display: inline-block;
  opacity: 0.5;
  animation: brilloTachado 1s ease-in-out infinite;
}

@keyframes brilloTachado {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}

.fixed-buttons-top,
.fixed-links-bottom {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;

  gap: 0.5rem;
  z-index: 1;
}

@media (max-width: 768px) {
  body[data-page-type="home"] .fixed-buttons-top,
  body[data-page-type="home"] .fixed-links-bottom {
    flex-direction: row;
  }
}

.fixed-buttons-top {
  top: 2vh;
  right: 2vh;
}

.fixed-links-bottom {
  bottom: 2vh;
  right: 2vh;
}

.img-wrapper {
  position: relative;
}

.soldout-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;

  font-size: 4rem;
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;       /* 👈 fuerza que no se divida */
  pointer-events: none;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 568px) {
  .soldout-label {
    font-size: 3rem;
    padding: 0.3rem 0.6rem;
  }
}

.corner-label {
  position: absolute;
  font-size: 0.7rem;
  background: none;
  color: black;
  padding: 2rem 1.5rem;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
  animation: parpadeo 1.5s ease-in-out infinite;
  opacity: 0.9;
  z-index: 2;
  pointer-events: none;
}

.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}


@keyframes parpadeo {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.producto-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 10vh auto;
  padding: 0 2rem;
  text-align: left;
  font-family: "IBM Plex Sans", sans-serif;
}

.producto-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}