:root {
  --grisAnaKtana: #494b49;
}

body {
  font-family: Helvetica, Arial, sans-serif;

  height: 100%;

  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

#productos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* por defecto, 2 columnas */
  grid-auto-flow: row; /* default, explícito */
  gap: 20px;

  position: fixed;

  /* padding: 10vh 5vh; */
  top: 10vh; /* margen superior visible */
  bottom: 5vh; /* margen inferior visible */
  left: 5vh; /* margen lateral izquierdo */
  right: 5vh; /* margen lateral derecho */

  overflow-y: auto;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  #productos-container {
    grid-template-columns: repeat(4, 1fr); /* en escritorio, 4 columnas */
  }
}

.producto {
  position: relative;
  cursor: pointer;
}

.home_titulo_precio {
  font-family: IBM Plex Sans, sans-serif;
  display: flex;
  justify-content: space-between;
}

.producto img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

#productos-container::-webkit-scrollbar {
  width: 1vh;
}

#productos-container::-webkit-scrollbar-thumb {
  background: var(--grisAnaKtana);
}
